.navbar-brand{
    float: right;
    margin-top: 25px;
    z-index: 99;
    width: 100%;
    margin: 0 0 30px;
    overflow: auto;
    font-size: 25px;
}

.navbar-nav{
 float: right; 
  padding-left: 15px;
  margin-left: 15px;
  line-height: 18px;
  color: #999;
  text-decoration: none;
  border-left: 1px solid #efefef;

}